*.obj
*.lib
*.cpe
*.exe
*.map
*.sym
*.matching.bin
*.pyc
.ninja*
build.ninja
PAPX_???.??
SLED_???.??
SLES_???.??
SLPM_???.??
SLPS_???.??
SLUS_???.??
obj
obj_vr
obj_dev
build/dump.asm
build/m2c
build/contrib
build/man
build/manifest
build/target.asm
build/share
build/bin
build/*.zip
build/statcov.txt
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
build/obj_tool/Release
.vs
build/include_asm_tmp
source/.vscode/settings.json
*.log
*.swp
*.swo
research/
.cache/
.sentry-native
obj_psx_dev/

Metal Gear Solid - Integral (J) (Disc 1) \[SLPM-86247]/.DS_Store
Metal Gear Solid - Integral (J) (Disc 1) \[SLPM-86247]/Metal Gear Solid - Integral (J) (Disc 1) \[SLPM-86247].7z
Metal Gear Solid - Integral (J) (Disc 1) \[SLPM-86247]/Metal Gear Solid - Integral (J) (Disc 1) \[SLPM-86247].cue
port/data/disc1/DUMMY3M.DAT
port/data/disc1/SYSTEM.CNF
port/data/disc1/MGS/BRF.DAT
port/data/disc1/MGS/DEMO.DAT
port/data/disc1/MGS/FACE.DAT
port/data/disc1/MGS/RADIO.DAT
port/data/disc1/MGS/STAGE.DIR
port/data/disc1/MGS/VOX.DAT
port/data/disc1/MGS/ZMOVIE.STR
port/mgs
.DS_Store
